<div id="status">
    There are currently {{wait}} people waiting ahead of you {{!-- fix this  --}}
</div>

<form>
    <p>Add your name to the wait list</p>
    <input name="name" type="text" required="true" placeholder="Name"><br>
    <input name="phone" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Cell Phone Number"><br>
    <input name="email" type="email" placeholder="Email"><br>
    <input id="id" name="id" type="hidden" value="{{business._id}}">
    <input id="submitBtn" type="submit" value="Submit" onclick="sendForm()">
</form>
<div id="delete" style="visibility: hidden"></div>
<div id="cancel"></div>
{{business.address}}<br>
{{business.phone}}<br>
{{business.email}}<br>

<script src="../addCust.js"></script>