<link rel="stylesheet" href="/css/css-manager.css" />

<!--container is for the whole thing-->
<div id="businessPage" class="container">
    <!--row is also for everything-->
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto bg-light" style="border-radius: 2%;">
            <!--this is the final row-->
            <div id="biz" class="row">
                <!--this is each indiviual column: first columns aka left side-->
                <div class="col">
                    <br><br>
                    <h3>{{biz.settings.businessName}}</h3>
                    <hr>
                    <div>Open: {{biz.settings.open}}</div>
                    <div>Close: {{biz.settings.close}}</div>
                    <hr>
                    <div>Maximum(table/people): {{biz.settings.maxOccupancy}}</div>
                    <hr>
                    <div>Each customer data expires in: </div>
                    <hr>
                    <button>Stop Waitlist</button>
                    <br><br>
                </div>
                <!--this is the right column-->
                <div class="col bg-white" style="border-radius:2%">
                    <br><br>
                    <h5 class="text-center">Manage Your Waitlist</h5>
                    <hr>
                    <div id="nums">
                        <label for="current">Current:</label><input class="numCust" name="current" type="number"
                            value="">
                        <label for="wait">Wait:</label><input class="numCust" name="wait" type="number" value="">
                        <label for="sent">Sent:</label><input class="numCust" name="sent" type="number" value="">
                    </div>
                    <hr>
                    <input id="bzId" value="{{biz._id}}" hidden="true">
                    <ol>
                        {{#each customers}}
                        <li class="custList" id="{{this._id}}">
                            <button class="x"
                                onclick="deleteCustomer('{{this._id}}','{{this.phone}}','{{this.email}}','{{this.name}}')">X</button>
                            <span>{{this.name}}</span>
                            <button>notify</button>
                            <button class=" check" onclick="markCustomer('{{this._id}}')">&check;</button>
                        </li>
                        {{/each}}
                    </ol>
                    <br><br>

                    <div id=" scrollBox">
                        <ol id="currentList">
                            {{#each customers}}
                            {{#if this.entered}}
                            <li class="custList" id="{{this._id}}">
                                <button class="x"
                                    onclick="deleteCustomer('{{this._id}}','{{this.phone}}','{{this.email}}','{{this.name}}')">X</button>
                                <span>{{this.name}}</span>
                            </li>
                            {{/if}}
                            {{/each}}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
<script src="/client/manager.js"></script>